body, h2, p {
	margin: 0;
	padding: 0;
}

body {
	background-color: #444;
	color: #333;
	font-family: Helvetica, sans-serif;
}

#book {
  /* background: url(book.png) no-repeat; */
  position: absolute;
  width: 830px;
  height: 860px;
  left: 50%;
  top: 20%;
  margin-left: -400px;
  margin-top: -125px;
}

.updates {
  height: 750px;
	width: 200px;
  background: white;
  filter: sepia(60%);
  margin-top: 5px;
}

#pages section {
  /* background: url("paper.png") no-repeat; */
  background: white;
  filter: sepia(60%);
	display: block;
	width: 600px;
	height: 750px;
	position: absolute;
	left: 210px;
	top: 5px;
	overflow: hidden;
}

#pages section>div {
  display: block;
  width: 400px;
  height: 750px;
  font-size: 12px;
}

#pages section p,
#pages section h2 {
  padding: 3px 35px;
  line-height: 1.4em;
  text-align: justify;
}
#pages section h2{
  margin: 15px 0 10px;
}

#pageflip-canvas {
top: -60px;
left: -60px;
position: absolute;
z-index: 100;
}
